DATABASE_URL="postgresql://postgres:YOUR_PASSWORD@aws-0-REGION.pooler.supabase.com:6543/postgres?pgbouncer=true&connection_limit=1&sslmode=require"
DIRECT_URL="postgresql://postgres:YOUR_PASSWORD@db.YOUR_PROJECT_REF.supabase.co:5432/postgres?sslmode=require"
JWT_SECRET="replace-with-a-long-random-secret-at-least-32-chars"
ADMIN_EMAIL="owner@maidboard.local"
ADMIN_PASSWORD="ChangeThisStrongPassword123!"
DEFAULT_HOUSEHOLD_NAME="Home"
DEFAULT_HOUSEHOLD_SLUG="home"
